div.centered {
  width : 80%;
  margin-right : auto;
  margin-left : auto;
}

img.img-preview {
  width : 40%;
  height : auto;
}

div.gallery {
  float : left;
  padding : 2%;
}

div.album-add-container {
  position : fixed;
  right : 3%;
  top : 3%;
}

div.album-adding-container {
  width : 35%;
  margin : auto;
}

