div.centered {
  width : 80%;
  margin-right : auto;
  margin-left : auto;
}

img.img-preview {
  width : 40%;
  height : auto;
}

div.gallery {
  float : left;
  padding : 2%;
}

div.album-add-container {
  position : fixed;
  right : 3%;
  top : 3%;
}

div.album-adding-container {
  width : 35%;
  margin : auto;
}

div.gallery-link-container {
  position : fixed;
  left : 3%;
  top : 3%;
}

div.album-container {
  width : 100%;
  margin-right : auto;
  margin-left : auto;
  text-align: center;
}

div.album-container > div.album-item {
  display : inline-block;
}

div.album-item {
  width : 30%;
  margin-right : 2%;
  margin-left : 2%;
}

img.media-selected {
  border : 2px solid #BB6060;
}
